h1{
    color: rgb(134, 34, 8);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("2ygv7ssy2k0lxlzu.jpg");
    background-size: cover;
    text-align: center;
    color:rgb(0, 15, 0);
    font-weight: bolder;
    font-size: larger;

}
#message-el{
    font-style: italic;
    font-size: larger;
    text-align: center;

}
button{
    background: rgb(148, 8, 78);
    color:aliceblue;
    width: 150px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}